svg {
    width: 25px;
    height: 25px;
}
#point {
    background-image: url('../images/punto.png' );
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    float: left;
    font-size: 10px;
    margin-right: 10px
}
#polyline {
    background-image: url('../images/line.png' );
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    float: left;
    font-size: 10px;
    margin-right: 10px
}
#polygon {
    background-image: url('../images/poli.png' );
    background-size: 48px 48px;
    height: 48px;
    width: 48px;
    font-size: 10px;
   
}
#dialogoPop {
    margin: 20px;
    padding: 10px;
}
#selectorFichero {
    padding: 0.5em 0px 0.5em 0px;
    margin: 1em 0 0 0;
    background-color: #dadada;
    border-radius: 0.5em;
}
.botones {
    width: 70%;
    margin: 0 auto;
    clear: left;
}
.info {
    font-size: 0.8em;
}
/*.ui-mobile label, div.ui-controlgroup-label {
    font-weight: 400;
    font-size: 0.8em;
}*/
.ui-field-contain > label ~ [class*=ui-], .ui-field-contain .ui-controlgroup-controls {
    margin: 0px 0px 1em 2em;
}
.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
    display: flex;
}